<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="con" connectionString="" providerName="System.Data.SqlClient" />
  <add name="SE_ManagementSystem.Properties.Settings.StockExchangeManagementConnectionString"
   connectionString="Data Source=DESKTOP-BSN6C7A\SQLEXPRESS;Initial Catalog=StockExchangeManagement;User ID=sa;Password=!!Rupesh@2431"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>